html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #C0C0C0;
}

h1 {
  text-align: center;
  font-family: verdana;
  color:rgb(0, 77, 192);
}

h4 {
  font-family: "Times New Roman", Times, serif;
  color: purple;
}

h2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: red;
}

h3 {
  color: rgb(255, 174, 0);
  font-family:'Times New Roman', Times, serif
}

h5 {
color:goldenrod;
font-family:Verdana, Geneva, Tahoma, sans-serif
}

h6 {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  border-style: solid;
  border-color: violet;
}

.center {
  border-style: solid;
  border-color: blue;
}